header {
  height: 170px;
  background-color: white;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  input {
    display: none;
  }
  ul {
    display: flex;
    list-style: none;
    position: relative;

    display: block;
    top: 15px;
  }

  .hamburger span,
  .hamburger span:after,
  .hamburger span:before {
    width: 100%;
    height: 5px;
    background-color: white;
    transition: all 0.5s;
    /*←アニメーション*/
    backface-visibility: hidden;
    border-radius: 2px;

  }
  li {
    margin-right: 20px;
  }
}
#kv {
  position: relative;
  .kv-logo {
    position: absolute;
    top: -110px;
    left: 10px;
    z-index: 2;
  }
  h3 {
    margin-left: 20px;
    position: relative;
  }
}
// .header-right{
//   ul{
//     display: flex;
//     list-style: none;
//   }
//   li{
//     margin-right: 20px;
//   }
// }

ul {
  display: flex;
  justify-content: flex-end;


  li {
    @include sp-screen {
      color: black;
      font-size: 12px;
      line-height: 0;
      padding: 18px 20px;
    }
  }

  @include sp-screen {
    display: block;
    background-color: #173d7e;
    width: 28%;
    text-align: center;
    // padding: 150px 0;
    position: absolute;
    right: -222px;
    // position: fixed;
    z-index: 2;

    &.hide {
      z-index: 2;
      right: 0;

    }

    // transform: translateX(0);
    transition: all 1s ease;
  }
}


li {
  padding: 10px 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 63px;
  color: #000000;

  @include sp-screen {
    padding: 0;
  }
}
// レスポンシブ対応
@media screen and (max-width: 767px) {
  main {
    width: 100%;
  }
  header {
    // height: 0px;
    // overflow: hidden;
    width: 100%;
    position: absolute;
    transition: right 1s ease;
    ul {
      display: block;
      background-color: rgb(255, 255, 255);
    }
  }
  #kv {
    // margin-top: 30px;
    text-align: center;
    .kv-logo {
      position: static;
      width: 30%;
    }
    h3 {
      span {
        display: block;
      }
    }
  }
  .kv-container {
    position: static;
    .kv-text {
      position: static;
      position: absolute;
      width: 70%;
      height: auto;
      top: 35%;
      left: 0%;
    }
  }
  // レスポンシブの大外
}