
header{
  height: 260px;
  background-color: white;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  input{
    display: none;
  }

  ul{
    display: flex;
    list-style: none;
    position: relative;
    top: 85px;
    right: -200px;
  }

  li{
    margin-right: 20px; 
  }
}

#kv{
  position: relative;

  .kv-logo{
    position: absolute;
    top: -110px;
    left: 10px;
    z-index: 2;
  }

  h3{
    margin-left: 20px;
    position: relative;
  }
}

// .header-right{
//   ul{
//     display: flex;
//     list-style: none;
//   }

//   li{
//     margin-right: 20px; 
//   }
// }

.kv-container{
  text-align: center;
  position: relative;

  .kv-slide{
    text-align: center;
  }

  .kv-text{
      position: absolute;
      height: 100%;
      width: 50%;
      top: 40%;
      left: 50%;
  }
}

// レスポンシブ対応
@media screen and (max-width: 767px) {
  main{
    width: 100%;
  }

  header{
    // height: 0px;
    // overflow: hidden;
    width: 100%;
    position: absolute;
    transition: right 1s ease;

    ul{
      display: block;
      background-color: aqua;
    }
  }


  #kv{
    // margin-top: 30px;
    text-align: center;

    .kv-logo{
      position: static;
      width: 30%;
    }

    h3{
      span{
        display: block;
      }
    }
  }

  .kv-container{
    position: static;

    .kv-text{
      position: static;
   
       position: absolute;
       width: 70%;
       height: auto;
       top: 35%;
       left: 0%;
     }
  }

  // レスポンシブの大外
}

